.carritoList{
    background-color: rgb(165, 183, 199);
    font-size: large;
    font-weight: 500; 
    padding-top: 3%;
    width: 100%;

    img{
        width: 100%;
    }
    button{
        height: fit-content;
        width: fit-content;
    }
    .botoneraCarrito{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3%;
        display: flex;
        justify-content: space-around;
        button{
            margin-bottom: 2%;
            width: 200px;
        }
    }
}


.artCarrito,.carritoTable{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    align-items: center;
    
    padding-top: 1%;

    background-color: white;
    border: 1px solid rgba(195, 189, 189, 0.222) ;
    text-align: center;
}

.artCarrito{
    grid-template-columns: 2fr 4fr repeat(4, 1fr);
}
.carritoTable{
    
    grid-template-columns: 6fr  repeat(4, 1fr);
}

.carritoVacio{
    height: 60vh;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 10%;
    padding: 5%;
    border-radius: 20px;

    font-size: 20px;

    background-color: white;
    overflow: hidden;

    img{
        width: 300px;
    }
}

@media (max-width:800px) {
    .carritoVacio{
        width: 90%;
        img{
            width: 200px;
        }
    }
    
}
@media (max-width:500px) {
    .carritoVacio{
        font-size: 15px;
        img{
            width: 170px;
        }
    }
  }