@import './navBarSass.scss';
@import './itemDetails';
@import './item';
@import './countItem';
@import './itemList';
@import './carrito';
@import './login';
@import './orderList';
@import './footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-general{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #cdb7c3, #cfbdcd, #d0c3d6, #d0cadf, #d0d1e7, #ced6ec, #ccdbef, #cae0f2, #c7e4f2, #c6e7f0, #c7eaed, #caecea);

}
.background{
    height: 100%;
    width: 100%;
    
}
