.item-list{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(165, 183, 199);
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}




@media  (max-width: 1520px) {
    .item-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }  
}
@media  (max-width: 1250px) {
    .item-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }  
}
@media  (max-width: 1000px) {
    .item-list{
        display: flex;
        flex-wrap: wrap;
    }
    
}