.containerItemDetails{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3%; 

}
.itemDetails{
    height: 100%;
    width: 40vw;
    padding: 5%;
    margin: 1%;
    background-color: white;
    border-radius: 1%;
}	
.carouselImgDetails{
    width: 40vw;
    height: auto;
    aspect-ratio: 1/1;
    background-color: white;
}	

.itemCountComprar{
    
    
    .buttonComprar{
        margin: 10px;
        margin-left: 10%;
    }
}