.containerItemDetails{
    

    margin-left: auto;
    margin-right: auto;

    margin:2%;

    background-color: rgb(165, 183, 199);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.itemDetails{

    background-color: white;
    border-radius: 2%;
    padding: 2%;
    margin-left:2%;
    
}	

.carouselImgDetails{

    width: 400px;
    height: 400px;

    background-color: white;
    overflow: hidden;
    img{
       width: 100%;
       height: 100%;
    }
}	


.itemCountComprar{
    
    
    .buttonComprar{
        margin: 10px;
        margin-left: 10%;
    }
}

 @media (max-width: 800px){
    .containerItemDetails{
        flex-direction:column;
    }

    .itemDetails{
        margin:2%;
    }
    
 }