.item-list{
    background-color: rgb(165, 183, 199);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}




@media  (max-width: 1340px) {
    .item-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }  
}
@media  (max-width: 1000px) {
    .item-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  
}
@media  (max-width: 700px) {
    .item-list{
        display: flex;
        flex-wrap: wrap;
    }
    
}