.containerNavBar{
  height: 65px;
  font-size: 20px;
  font-weight: 700;
  .navBarBrand{
    display: flex;
    align-items:center;
    font-size: 23px;
    font-weight: 700;
    color: rgba(68, 65, 65, 0.767);
    &:hover{
      transition: .1s;
      font-size: 25px;
      color: rgba(39, 38, 38, 0.767);
    }
  }

}

@media (max-width: 400px){
  .navBarBrand{
    font-size: 19;
  }

}


