.orderList{
    
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    .orden{
        h3,h4{
            font-size: 25px;
        }
        border-bottom-style:double;
    }
}
@media (max-width: 900px) {
    .orderList{
        .orden{
            h3,h4{
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 550px) {
    .orderList{
        .orden{
            h3,h4{
                font-size: 10px;
            }
        }
    }
}
