*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    display:flex;
    width: 15%;
    
    flex-direction: column;
    align-items: center;
    border-style: inset inset;
    
}
.itemImg{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    aspect-ratio: 1/1;
    height: fit-content;
}
.itemImg-img{
    width: 90%;
    height: auto;
}
.item-list{
    display: flex;
}
